<link href="css/resgister.scss" rel="stylesheet">
{{>headerlinks}}
{{>header}}
<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form action="/register-save" method="POST">
					<h3>Login Form</h3>
					{{# if exiteuser}}
					<p class="alert alert-danger">{{this.exiteuser}}</p>
					{{/if}}
					{{# if pass_error}}
					<p class="alert alert-danger">{{this.pass_error}}</p>
					{{/if}}
					{{# if error}}
					{{# each error}}
					<p class="alert alert-danger">{{this.msg}}</p>
					{{/each}}
					{{/if}}
					<div class="form-group">
					</div>
					<div class="form-wrapper">
						<label for="">Email</label>
						<input type="text" class="form-control"  name="email" value="{{ old.email }}">
					</div>
					<div class="form-wrapper">
						<label for="">Password</label>
						<input type="password" class="form-control"  name="password">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> I caccept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div>
					<button><a href="/login">Login</a></button>
				</form>
			</div>
		</div>
        {{>footer}}